:root {
  --el-color-primary: #34d399 !important;
  --el-input-border-color: #3a3a3a !important;
}

// poper-container
.el-popper.is-light .el-popper__arrow::before {
  background: #1e1e1f !important;
}

.el-popover.el-popper {
  border: 1px solid #474648 !important;
  min-width: 50px !important;
}

// dialog
.el-dialog__title {
  color: #fff !important;
}

.el-input__wrapper {
  background-color: #1e1e1f !important;
  box-shadow: 0 0 0 1px #57534e !important;
  &:hover {
    box-shadow: 0 0 0 1px #fff !important;
  }

  &.is-focus {
    box-shadow: 0 0 0 1px #34d399 !important;
  }
}

// el-pagination
.el-pagination.is-background .btn-prev:disabled {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

.el-pagination.is-background .btn-prev {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

.el-pagination.is-background .el-pager li.is-active {
  color: #fff;
  background-color: #34d399 !important;
  cursor: default;
}
.el-pagination.is-background .el-pager li {
  color: #fff;
  background-color: #2b2b2b !important;
  border: 1px solid #474648;
  border-radius: 0.3rem;
  cursor: default;
}

.el-pagination.is-background .btn-next:disabled {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

.el-pagination.is-background .btn-next {
  color: #fff !important;
  background-color: #3a3a3a !important;
}

//按钮
.white-list-tool.is-background .btn-next .el-icon-arrow-right {
  margin: 0 auto;
}
.white-list-tool.is-background .btn-prev .el-icon-arrow-left {
  margin: 0 auto;
}

.popo-tagbox {
  width: 700px !important;
  background-color: #363636 !important;
  padding: 0 !important;

  .popo-container {
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
    .popo-header {
      padding: 1rem 0 1rem 1rem;
      border-bottom: 1px solid #494949;
      cursor: pointer;
    }

    .popo-header.tag-active {
      color: #34d399;
    }

    .cate-title {
      color: #5c5c5c;
      display: flex;
      padding: 1rem 2rem;

      .cate-right {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .cate-box {
          .tag-more {
            padding: 0 1.2rem;
            margin-bottom: 1rem;
            color: #d7d7d7;
            cursor: pointer;
          }

          .tag-more.tag-active {
            color: #34d399;
          }
        }
      }

    }
  }
}

// el-slider

// .el-textarea__inner

