:root {
  --el-color-primary: #34d399 !important;

}

// poper-container
.el-popper.is-light .el-popper__arrow::before {
  background: #1e1e1f !important;
}

.el-popover.el-popper {
  border: 1px solid #474648 !important;
  min-width: 50px !important;
}

// dialog
.el-dialog__title {
  color: #fff !important;
}

.el-input__wrapper {
  background-color: #1e1e1f !important;
  box-shadow: 0 0 0 1px #57534e !important;
  &:hover {
    box-shadow: 0 0 0 1px #fff !important;
  }

  &.is-focus {
    box-shadow: 0 0 0 1px #34d399 !important;
  }
}

// el-slider
